.ProductItem {
  background: #fff;
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

.ProductItem__title {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.ProductItem__description {
  color: #000;
}

.ProductItem__image {
  max-width: 100%;
}

.ProductItem__cart-state {
  margin: 12px 0;
  text-align: center;
  color: green;
}
