.Profile {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px;

  .userAvatar {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .userName {
      font-size: 16px;
      font-weight: 400;
      color: #afafaf;
    }
  }
}
