.TodoItem {
  display: flex;
  gap: 24px;
  align-items: center;
  border: 1px solid #a6a5a5;
  padding: 5px 10px;

  .title {
    color: #000;
    font-size: 18px;
  }

  .checkbox {
    background-color: #fff;
  }
}
