.TodoForm {
  display: flex;
  gap: 24px;

  input {
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    outline: none;
    min-width: 200px;
  }

  button {
    outline: none;
    color: #fff;
    background-color: deepskyblue;
  }
}
