.ProductForm {
  margin: 1rem 0;
  form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 50%;
    padding: 8px;

    .formControl {
      display: flex;
      flex-direction: column;

      input {
        padding: 8px;
        margin-bottom: 4px;
      }

      .error {
        color: red;
      }
    }
  }
}
