.Header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;

  nav {
    padding: 12px 16px;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
  }
}
